.ssh-pet {
  height: 152px;
  width: 173.1px;
  position: fixed;
  z-index: 1000;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bobcat_full.png');
  background-size: 173.1px 152px;
  background-position: 0 0;
}

@keyframes ssh-pet-rest {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -90px;
  }
}

.ssh-pet.rest {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bobcat_full.png');
  background-repeat: repeat-x;
  background-size: 202px 177.3px;
  background-position: 0 0;
  animation: ssh-pet-rest 0.2s steps(3);
}

.ssh-pet.alert {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bobcat_alarm.png');
  background-repeat: repeat-x;
  background-size: 202px 177.3px;
}

.button {
  background-color: #008CBA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: none;
  color: white;
  font-size: 16px;
  padding: 7px 14px;
  position: fixed;
  z-index: 980;
  left: 1000px;
  top: 435px;
  cursor: pointer;
}

.text {
  position: fixed;
  color: #008CBA;
  font-weight: bold;

  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  font-size: 18px;
  z-index: 980;
  left: 980px;
  top: 390px;
}

