.ssh-pet {
  height: 152px;
  width: 173.1px;
  position: fixed;
  z-index: 1000;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bobcat_full.png');
  background-size: 173.1px 152px;
  background-position: 0 0;
}

@keyframes ssh-pet-rest {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -90px;
  }
}

.ssh-pet.rest {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/bobcat_full.png');
  background-repeat: repeat-x;
  background-size: 202px 177.3px;
  background-position: 0 0;
  animation: ssh-pet-rest 0.2s steps(3);
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  border-bottom: 1px solid white;
}

.tab {
  cursor: pointer;
  padding : 10px;
}

.tab.active {
  background-color: #CCC;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  padding: 0;
  margin: 0;
  padding: 10px;
}